
@media screen and (max-width: 1199px) {
  .workingplace {
    display: none;
  }
}
.workingplace {
  padding-bottom: 25px;
}

.workingplace__title {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #757575;;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.workingplace__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.workingplace__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 30px * 3) / 3);
}

.workingplace__thumb {
  position: relative;
  height: 294px;
}

.workingplace__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.workingplace__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #5c9c3c80;
}

