.hero {
  margin: 0 auto;
  min-height: 470px;
  padding: 118px 20px; 
  text-align: center;
  background-image: url(../img/herocalidad.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* .green{
background-color: #5c9c3c;
} */

.hero__title {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: red; 
  font-family:Roboto, sans-serif;
}

.web{
   text-align: center;
   margin-bottom: 10px !important;
   font-family:Roboto, sans-serif;
}

/* Адаптація для планшетів */
@media screen and (max-width: 1024px) {
  .hero {
    min-height: 300px; 
  }

}

/* Адаптація для мобільних */
@media screen and (max-width: 768px) {
  .hero {
    min-height: 250px; /* Ще більше зменшуємо висоту */
   
   /* Підганяємо фон */
  }
}
