/* Герой */
.hero {
  margin: 0 auto;
  max-width: 479px;
  min-height: 400px;
  padding: 118px 0;

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
  // display: flex;
  // align-items: center;
  text-align: center;

  // background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $background-body-color;
}

.hero__button {
  padding: 10px 32px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: $background-body-color;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: $acsent-color;
  transition: border $duration $timing-function;

  &:hover {
    border: 188ce8 solid 3px;
    border-radius: 0px;
  }
}

// @media screen and (min-device-pixel-ratio: 2),
//   screen and (min-resolution: 192dpi),
//   screen and (min-resolution: 2dppx) {
//   .hero {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../img/hero480x2.jpg);
//   }
// }

// @media screen and (min-width: 480px) {
//   .hero {
//     max-width: 767px;
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../img/hero768.jpg);
//   }

//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     .hero {
//       background-image: linear-gradient(
//           to right,
//           rgba(47, 48, 58, 0.4),
//           rgba(47, 48, 58, 0.4)
//         ),
//         url(../img/hero768x2.jpg);
//     }
//   }
// }

// @media screen and (min-width: 768px) {
//   .hero {
//     max-width: 1600px;
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../img/hero1600.jpg);
//   }

//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     .hero {
//       background-image: linear-gradient(
//           to right,
//           rgba(47, 48, 58, 0.4),
//           rgba(47, 48, 58, 0.4)
//         ),
//         url(../img/micx2.jpg);
//     }
//   }
// }

// @media screen and (min-width: 1200px) {
//   .hero {
//     min-height: 600px;
//   }

//   .hero__title {
//     font-size: 44px;
//     line-height: 1.364;
//   }
// }

// .hero {
//   padding-top: 200px;
//   padding-bottom: 200px;
//   text-align: center;
// }
// .hero {
//   margin: 0 auto;
//   max-width: 479px;
//   min-height: 400px;
//   padding: 118px 0;

//   @media screen and (min-width: 1200px) {
//     padding: 200px 0;
//   }
//   text-align: center;
//   background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../img/hero480.jpg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }

// .hero__title {
//   margin-bottom: 30px;
//   font-weight: 900;
//   font-size: 26px;
//   line-height: 1.61;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: $background-body-color;
// }

// .button {
//   padding: 10px 32px;
//   font-size: 16px;
//   font-weight: 700;
//   font-weight: 700;
//   line-height: 1.88;
//   letter-spacing: 0.06em;
//   color: $background-body-color;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   background-color: $acsent-color;
//   transition: border $duration $timing-function;
// }
// .button {
//   padding: 10px 32px;
//   font-size: 16px;
//   font-weight: 700;
//   font-weight: 700;
//   line-height: 1.88;
//   letter-spacing: 0.06em;
//   color: $background-body-color;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   background-color: $acsent-color;
//   transition: border $duration $timing-function;
// }
// @media screen and (min-device-pixel-ratio: 2),
//   screen and (min-resolution: 192dpi),
//   screen and (min-resolution: 2dppx) {
//   .hero {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../img/hero480x2.jpg);
//   }
// }

//   @media screen and (min-width: 480px) {
//   .hero{
//     max-width: 767px;
//     background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../img/hero768.jpg);
//      }
//      @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//     .hero {
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)
//       ),
//       url(../img/hero768x2.jpg);
//   }

// .hero__overlay {
//   max-width: 1600px;
//   margin-left: auto;
//   margin-right: auto;
//   /* border-color: #3a3333; */
//   background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../img/herox2.jpg);

//   // min-device-pixel-ratio и min-resolution
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
// }

/* Заголовок героя */

//   max-width: 696px;
//   margin: 0 auto;
//   margin-bottom: 30px;

//   font-size: 44px;
//   font-weight: 900;
//   line-height: 1.37;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: $background-body-color;
// }

/* кнопка героя */

// @media screen and (min-width: 480px) {
//   .hero {

// width: 200px;
// height: 50px;

// font-size: 16px;
// font-weight: 700;
// line-height: 1.88;
// letter-spacing: 0.06em;
// color: $background-body-color;

// border: none;
// border-radius: 4px;
// cursor: pointer;
// background-color: $acsent-color;
// transition: border $duration $timing-function;
// /* ховер на кнопку героя */
// &:hover {
//   border: 188ce8 solid 3px;
//   border-radius: 0px;
// }
