/* Наша команда */

.team {
  padding: 60px 0;
  background-color: $secondary-bgcolor;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $secondary-bgcolor;
  }
}
/* список ul */
.team__list {
  @media screen and (min-width: 768px) {
    margin-top: -30px;
    margin-left: -30px;

    display: flex;
    flex-wrap: wrap;
  }
}
// .team {
//   padding-top: 94px;
//   padding-bottom: 94px;
//   background-color: $secondary-bgcolor;
// }

/* li */
.team__item {
  // flex-basis: calc(100% / 4 - 30px);
  // margin-top: 30px;
  // margin-left: 30px;

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: $background-body-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}
/*  team-content div*/
.team__content {
  padding: 30px 0 24px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding: 30px 0;
  }
}

/* Заголовки */
.team__title {
  margin-bottom: 30px;
  font-weight: 700px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
/* Должность */
.team__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__name {
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team__thumb {
  max-height: 460px;

  @media screen and (min-width: 768px) {
    height: 374px;
  }

  @media screen and (min-width: 1200px) {
    height: 260px;
  }
}

.team__photo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// иконки сетей

.team__socials {
  display: flex;
  justify-content: center;
}

.team__socials-item:not(:last-child) {
  margin-right: 10px;
}
.team__social-icon {
  fill: currentColor;
}

.team__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: color $duration $timing-function,
    background-color $duration $timing-function;

  &:hover,
  &:focus {
    color: $background-body-color;
    background-color: $acsent-color;
  }
}
