$primary-text-color: #757575;
$title-text-color: #212121;
$acsent-color: #2196f3;
$footer-bgcolor: #2f303a;
$secondary-bgcolor: #f5f4fa;
$background-body-color: #ffffff;
$address-color-link: rgba(255, 255, 255, 0.6);
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font-family: Roboto, sans-serif;
$fontfamilylogо: Raleway, sans-serif;
